<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>陸軍多元管理.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BD2324E6732DB816D5C29A8A728AC5F5FACC7603</string>
				<key>dateExpires</key>
				<string>2026/1/2</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>72457HPWJ3.com.example.armyapp.eArmyApptw.gov.mnd</string>
				<key>com.apple.developer.team-identifier</key>
				<string>72457HPWJ3</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>陸軍多元管理.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>837852b2-efd6-4c90-bce4-d2e2fd1f34ac</string>
				<key>dateExpires</key>
				<string>2026/1/2</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.armyapp.eArmyApptw.gov.mnd</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>72457HPWJ3</string>
				<key>name</key>
				<string>Nan Yao Wang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
